.movie_container{
    display: flex;
    height: 100vh;
    position: relative;
    justify-content: space-evenly;
    width: 100%;
}
.form_n_stats{
    position: relative;
    width: 25%;
    height: 100%;
    background-color: rgb(238, 232, 224);
}
@media screen and (max-width:1230px) {
    .form_n_stats{
      min-width: 300px;

    }
}